html {
    overflow-y: auto;
}

.v-application__wrap {
    background-color: #141414;
}

.v-main {
    min-height: 100vh;
    margin-left:calc(var(--v-layout-left) + 0px) !important;
    margin-top: calc(var(--v-layout-top) + 20px) !important;
    padding: 0 !important;
}

.v-application {
    background: transparent;
}

.cursor-pointer {
    cursor: pointer;
}
@media screen and (min-width:1300px) {
    .maxWidth {
        max-width: 1300px;
        margin: 0 auto;
    }
}
.fixed-width {
    max-width: 1300px;
}

@media screen and (max-width:1024px) {
    .v-toolbar__content {
        justify-content: space-between;
    }

    .v-toolbar__content>.v-btn:last-child {
        margin-inline-end: 0px !important;
    }
}